<h2 class="index">Drinks</h2>
<br>
<% @drinks.each_slice(3) do |three_drinks| %>
  <div class="row">
    <% three_drinks.each do |drink| %>
      <div class="col-md-4">
        <div class="well">
          <h4 class="index">
            <a href="/drinks/<%= drink.id %>"><%= "#{drink.name}, $#{drink.price}" %> </a>
          </h4>
          <p><%= drink.supplier.name %></p>
          <img src="<%= drink.images[0].url %>">
          <p class="index"><%= drink.description %></p>
          <% if drink.in_stock %>
            <p>IN STOCK</p>
          <% else %>
            <p>OUT OF STOCK</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

