<h3><%= @drink.name %></h3>
<p><%= @drink.supplier.name %></p>

<h4>Categories:</h4>
<% @drink.categories.each do |category| %>
  <p><%= category.name %></p>
<% end %>

<% if @drink.in_stock %>
  <p>IN STOCK</p>
<% else %>
  <p>OUT OF STOCK</p>
<% end %>

<h5><%= @drink.sale_message %></h5>
<p class="<%= @drink.price_class_name %>">Subtotal: <%= number_to_currency(@drink.price) %></p>
<p>Tax: <%= number_to_currency(@drink.tax) %></p>
<p>----------</p>
<p>Total: <%= number_to_currency(@drink.total) %></p>

<% @images.each do |image| %>
  <img src="<%= image.url %>">
<% end %>

<p><%= @drink.description %></p>

<%= form_tag "/cart/#{@drink.id}", method: :post do %>
  <div class="form-group">
    <%= label_tag :quantity %>
    <%= text_field_tag :quantity, '', class: "form-control" %>
  </div>
  <div>
    <%= submit_tag "Add to Cart", class: "btn btn-default" %>
  </div>
<% end %>

<div>
  <a href="/drinks/<%= @drink.id %>/edit">Edit this drink</a>
</div>
<div>
  <a href="/images/<%= @drink.id %>/new">Add an image</a>
</div>
<div>
  <%= link_to "Delete drink", "/drinks/#{@drink.id}", method: :delete %>
</div>
<div>
  <a href="/drinks">Back to all drinks</a>
</div>