<h3><%= @drink.name %></h3>
<p><%= @drink.supplier.name %></p>

<h4>Categories:</h4>
<% @drink.categories.each do |category| %>
  <p><%= category.name %></p>
<% end %>

<% if @drink.in_stock %>
  <p>IN STOCK</p>
<% else %>
  <p>OUT OF STOCK</p>
<% end %>

<h5><%= @drink.sale_message %></h5>
<p class="<%= @drink.price_class_name %>">Subtotal: <%= number_to_currency(@drink.price) %></p>
<p>Tax: <%= number_to_currency(@drink.tax) %></p>
<p>----------</p>
<p>Total: <%= number_to_currency(@drink.total) %></p>

<% @images.each do |image| %>
  <img src="<%= image.url %>">
<% end %>

<p><%= @drink.description %></p>

<% if current_user %>
  <%= form_tag "/cart/#{@drink.id}", method: :post do %>
    <div class="form-group">
      <%= label_tag :quantity %>
      <%= text_field_tag :quantity, '', class: "form-control" %>
    </div>
    <div>
      <%= submit_tag "Add to Cart", class: "btn btn-default" %>
    </div>
  <% end %>
<% end %>
<% if current_user && current_user.admin %>
  <%= form_tag "/drinks/#{@drink.id}/edit", method: :get do %>
     <div>
      <%= submit_tag "Edit Drink", class: "btn btn-default" %>
    </div>
  <% end %>
  
  <%= form_tag "/images/#{@drink.id}/new", method: :get do %>
     <div>
      <%= submit_tag "Add Image", class: "btn btn-default" %>
    </div>
  <% end %>
  
  <%= form_tag "/drinks/#{@drink.id}", method: :delete do %>
     <div>
      <%= submit_tag "Delete Drink", class: "btn btn-default" %>
    </div>
  <% end %>
<% end %>
