<h4>Here is the info for your order of <%= @order.drink.name %> on <%= @order.friendly_created_at %></h4>
<img src="<%= @order.drink.images[0].url %>">
<p>Order id--<%= @order.id + 430986 %></p>
<p>Quantity--<%= @order.quantity %></p>
<p>Subtotal--<%= number_to_currency(@order.subtotal) %></p>
<p>Tax--<%= number_to_currency(@order.tax) %></p>
<p>Total--<%= number_to_currency(@order.total) %></p>
<p>Your E-mail Address--<%= current_user.email %></p>
